<div class="navstyle">
  <nav class="navbar navbar-toggleable-md navbar-collapse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
    </button>
        <a class="navbar-brand nav-img" href="/"><%= image_tag('https://s3-us-west-2.amazonaws.com/kjcylinder/logo.png') %></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto nav-linksstyle">
          <li class="nav-item active">
            <a class="nav-link" href="/">Services<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
        <div class="contact-info">
          <p><strong>Phone:</strong> (801) 930-0135</p>
          <p><strong>Email:</strong> sales@kjcylinder.com</p>
          <p><strong>Address:</strong> KJ CYLINDER LLC, 2381 CONSTITUTION BLVD., WEST VALLEY CITY, UT, 84119</p>
        </div>
      </div>
    </div>
  </nav>  
</div>
