<div class="aboutbody">
	<div class="container about-container-style">
		<div class="row">
			<div class="about-row-style">
			<h2>DELIVERING QUALITY SERVICE TO EACH OF OUR CLIENTS</h2>
			<hr>
				<div class="row">
					<div class="header">
					</div>
					<div class="col-md-6 about-text-upper">
						<h4>BUSINESS OF CYLINDERS</h4>
						<hr>
						<p>KJ Cylinder, LLC is a veteran owned small business. Justin has served in the U.S. Army for 17 years as a non-commissioned officer. After returning from his most recent deployment in Afghanistan, Justin decided to redirect his skills and dedication to a new field, hydro-testing. He has been working in the industry for over 2 years and models his business after military values.</p>
					</div>

					<div class="col-md-6">
						<img class="d-block img-fluid about-img-style" src="https://s3-us-west-2.amazonaws.com/kjcylinder/aboutpagephoto.jpeg"/>
					</div>

					<div class="col-md-12 social-mission-styles">
						<h3>Social Mission</h3>
						<p>We model our business on the military principal of "attention to detail". Industries that use high pressure cylinders know the risks associated with potentially dangerous objects. When you give us your cylinder to re-certify, we know you are entrusting us with your safety, and that of your customers and employees. We take that responsibility seriously.</p>
						<p>We believe in delivering quality service to each of our clients. whether you are a large hospital turning on your patient's oxygen or a diver getting your tank prepped, we will make sure you are happy.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>