<div class="aboutbody">
	<div class="container about-container-style">
		<div class="row">
			<div class="about-row-style">
			<h2>DELIVERING QUALITY SERVICE TO EACH OF OUR CLIENTS</h2>
			<hr>
				<div class="row">
					<div class="header">
					</div>
					<div class="col-md-6 about-text-upper">
						<h4>BUSINESS OF CYLINDERS</h4>
						<hr>
						<p>KJ Cylinder, LLC is a veteran owned small business. Kevin and Justin served together in the mountains of Afghanistan, both as non-commissioned officers. After returning to the states they decided to redirect their talents and dedication to a new field, hydro-testing. Kevin had been working the family business of cylinders and regulators since he was a teenager, and with his dad preparing to retire, the two saw an opportunity to make something of their own.</p>
					</div>

					<div class="col-md-6">
						<img class="d-block img-fluid about-img-style" src="/assets/aboutpagephoto.jpg"/>
					</div>

					<div class="col-md-12 social-mission-styles">
						<h3>Social Mission</h3>
						<p>We model our business on the military principal of "attention to detail". Industries that use high pressure cylinders know the risks associated with potentially dangerous objects. When you give us your cylinder to re-certify, we know you are entrusting us with your safety, and that of your customers and employees. We take that responsibility seriously.</p>
						<p>We believe in delivering quality service to each of our clients. whether you are a large hospital turning on your patient's oxygen or a diver getting your tank prepped, we will make sure you are happy.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>