<div class="container carousel-styles-outer">
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner carousel-styles-inner" role="listbox">
	    <div class="carousel-item active">
	      <img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/kjcylinder/maincarouselpic3.jpg" alt="First slide"/>
	        <div class="carousel-caption d-md-block collapse.show carousel-text-styles">
				    <h2>HOW DO YOU USE YOUR CYLINDERS?</h2>
				  </div>
	    </div>
	    <div class="carousel-item">
	      <img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/kjcylinder/maincarouselpic1.jpg" alt="Second slide"/>
	        <div class="carousel-caption d-md-block carousel-text-styles">
    				<h2>PROFESSIONAL?</h2>
  				</div>
	    </div>
	    <div class="carousel-item">
	      <img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/kjcylinder/maincarouselpic2.jpg" alt="Third slide"/>
	        <div class="carousel-caption d-md-block carousel-text-styles1">
    				<h2>RECREATIONAL?</h2>
  				</div>
	    </div>
	  </div>
	  	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
	    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    	<span class="sr-only">Previous</span>
	  	</a>
	  	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
	    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	    	<span class="sr-only">Next</span>
	  	</a>
	</div>
</div>

<div class="row business-styles1">
	<div class="col-md-6">
		<img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/kjcylinder/businessimage1.jpg"/>
		<div class="business-text">
			<h2>BUSINESS</h2>
			<p>We work hard to get your cylinders tested quickly and safely. We work around your schedule to keep your cylinders in service</p>
		</div>
	</div>
	<div class="col-md-6">
		<img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/kjcylinder/recreationalimage1.jpg"/>
		<div class="business-text1">
			<h2>RECREATIONAL</h2>
			<p>We can help you with all your personal cylinder needs. By bringing your cylinders to us directly.</p>
		</div>
	</div>
</div>


<div class="row business-services-style">

	<div class="col-md-2 business-photo-style">
		<img class="d-block img-fluid photo-margin" src="https://s3-us-west-2.amazonaws.com/kjcylinder/businessphoto2.JPG"/>
		<img class="d-block img-fluid photo-margin" src="https://s3-us-west-2.amazonaws.com/kjcylinder/businessphoto3fire.jpeg"/>
	</div>

	<div class="col-md-8 middle-text-style">
		<h2>ALL ALUMINUM AND STEEL CYLINDERS</h2>

		<p>A pressurized cylinder is a bomb waiting to go off, and if your business uses pressurized cylinders, then you know the importance of having a test facility you can trust. We are a DOT certified facility with a focus on safety, and we test by the book to ensure you and your customer's safety.</p>

		<div class="service-list">
			<h3>Here are just a few of the things we can do for you:</h3>
			<ul>
				<li>DOT Cylinder Recertification (hydrostatic test)</li> 
				<li>Cylinder Refurbishment</li>
				<li>CO2 Filling</li>
				<li>Eddy Current Test</li>
				<li>Valve Replacement</li>
			</ul>
		</div>
	</div>

	<div class="col-md-2 business-photo-style">
		<img class="d-block img-fluid photo-margin" src="https://s3-us-west-2.amazonaws.com/kjcylinder/businessphoto1mask.jpg"/>
		<img class="d-block img-fluid photo-margin" src="https://s3-us-west-2.amazonaws.com/kjcylinder/businessphoto4diver.jpg"/>
	</div>

</div>



<div class="row business-styles">
	<div class="container firefighter-styles-inner">
		<div class="firefightertext">
			<h2>ARE YOU A LOW BUDGET FIRE DEPARTMENT?</h2>
		</div>
			<img class="d-block img-fluid" src="https://s3-us-west-2.amazonaws.com/kjcylinder/firefighterimage.jpg"/>
		<div class="firefightertextlower">
			<h4>WE KNOW HOW HARD IT CAN BE TO DO YOUR JOB WITH A SMALL BUDGET. CONTACT US ABOUT GETTING YOUR SCBAS TESTED FOR FREE.</h4>
		</div>
	</div>
</div>


















